<!doctype html>
<html lang="en">
    <head>
        <title>DOAN Footer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/footer.css"> 
    </head>

    <body>
        <footer>
            <div class="fcontainer">
                <div class="content about">
                    <h2>Về chúng tôi</h2>
                    <p>GIAOTRINHBKU là tiệm sách chuyên cung cấp các loại giáo trình đại cương và chuyên ngành các môn học trong trường Đại học Bách khoa TP. Hồ Chí Minh.</p>
                    <ul class="social-icon">
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="https://web.telegram.org/"><i class="fa fa-telegram"></i></a></li>
                    </ul>
                </div>

                <div class="content links">
                    <h2>Đường dẫn</h2>
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Thông tin liên lạc</a></li>
                        <li><a href="#">Điều kiện chính sách</a></li>
                        <li><a href="#">Dịch vụ</a></li>
                    </ul>
                </div>
    
                <div class="content contact">
                    <h2>Thông tin liên hệ</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fa fa-map-marker"></i></span>
                            <span>
                                Trường Đại học Bách khoa<br/>
                                268 Lý Thường Kiệt, P.14, Q.10, TP.Hồ Chí Minh<br/>
                                Việt Nam
                            </span>
                        </li>

                        <li>
                            <span><i class="fa fa-phone"></i></span>
                            <span>
                                0123 456 789<br/>
                                0987 654 321
                            </span>
                        </li>

                        <li>
                            <span><i class="fa fa-envelope"></i></span>
                            <p><a href="#">giaotrinhbku@hcmut.edu.vn</a></p>
                        </li>
                    </ul>
                </div>

            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>